@model CsAspnet.Models.dbcontext.Motion

<div class="row">
    <div class="form-group half-form-input col-2">
        <input class="form-control" type="number" value="@Model.MotionNumber" placeholder="Nummer" id="editMotionNumber"/>
    </div>
    <div class="form-group col-10">
        <input class="form-control" type="text" value="@Model.MotionName" placeholder="Titel" id="editMotionName"/>
    </div>

    <div class="form-group col-12">
        <textarea class="form-control" onkeyup="autoResize(this)" placeholder="Text" id="editMotionText" 
                  style="overflow: hidden">@Model.MotionText</textarea>
    </div>
    
    <div class="form-group col-12">
        <textarea class="form-control" onkeyup="autoResize(this)" placeholder="Centerstudenters svar" id="editArgument" 
                  style="overflow: hidden">@Model.Argument</textarea>
    </div>
    
    <div class="col-12">
        @foreach (var att in Model.Att.OrderBy(a => a.AttNumber))
        {
            await Html.RenderPartialAsync("Kommitteer/_Att", att);
        }
    </div>
    
    
    <div class="col-12">
        <div class="btn-toolbar pull-right">
            <button class="btn btn-secondary" style="margin-right: 0.5em;" onclick="loadMotion(this, @Model.Id)">
                Avbryt
            </button>
            @Html.AntiForgeryToken()
            <button class="btn btn-success" onclick="saveMotion(this, @Model.Id)">
                Spara
            </button>
        </div>
    </div>
</div>


<script type="text/javascript">

    function saveMotion(button, motionId) {
        
        // Spin the button immediately.
        var oldButtonHtml = $(button).html();
        $(button).html(buttonSpinner + oldButtonHtml);
        
        // Save the motion.
        $.ajax({
            traditional: true,
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: "/Admin/Index?handler=SaveMotion",
            data: JSON.stringify({
                "MotionId": motionId,
                "Number": $("#editMotionNumber").val(),
                "Name": $("#editMotionName").val(),
                "Text": $("#editMotionText").val(),
                "Argument": $("#editArgument").val()
            }),
            contentType: 'application/json; charset=utf-8"',
            success: function(result) {
                if (result.result) {
                    // Update the links to the motion.
                    $("#motionTitleMobile-" + motionId).text(result.name);
                    $("#motionTitleDesktop-" + motionId).text(result.name);
                    
                    // Update the actual motion.
                    loadMotion(null, motionId);
                } else {
                    alert(result.message);
                    $(button).html(oldButtonHtml);
                }
            }, error: function() {
                alert("Okänt fel, prova att ladda om sidan");
                $(button).html(oldButtonHtml);
            }
        });
    }

    $(document).ready(function() {
        autoResize(document.getElementById("editMotionText"));
        autoResize(document.getElementById("editArgument"));
    });
    
</script>
