@model CsAspnet.Models.dbcontext.Att
@{
    string color = "";
    string suggestion = "";
    switch (Model.SuggestedVote)
    {
        case "BIFALL":
            color = "text-success";
            suggestion += "Centerstudenter föreslår bifall";
            break;
        case "AVSLAG":
            color = "text-danger";
            suggestion += "Centerstudenter föreslår avslag";
            break;
        case "INSTAM":
            color = "text-warning";
            suggestion += "Centerstudenter föreslår att instämma i motionens intentioner";
            break;
    }

    string md1 = "", md2 = "";
    if (!User.Identity.IsAuthenticated)
    {
        md1 = "col-md-3";
        md2 = "col-md-9";
    }
}


<dl class="row" style="margin-bottom: 0;">
<dt class="col-xs-6 col-sm-4 @md1 col-lg-3 half-form-input lato-bold">
    @if (User.Identity.IsAuthenticated)
    {
        <button class="btn btn-link inline-btn-link" onclick="editAtt(this, @Model.Motion.Id, @Model.Id)">
            <i class="mdi mdi-edit"></i>
        </button>
        @Html.AntiForgeryToken()
        <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                data-title="Är du säker på att du vill ta bort att-sats @Model.FullNumber()?" 
                data-onclick="deleteAtt($('#generalDeleteModalDeleteButton'), @Model.Id)">
            <i class="mdi mdi-delete"></i>
        </button>
    }
    <text class="@color" data-toggle="tooltip" data-placement="top" title="@suggestion"
          style="display: inline-block; width: 50px;">@Model.FullNumber():</text> Att
</dt>
<dd class="col-xs-6 col-sm-8 @md2 col-lg-9">@Model.AttText</dd>
</dl>

<script type="text/javascript">

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

</script>
