@model CsAspnet.Models.dbcontext.Att
@{
    // The color indicates whether PS agrees.
    string csColor = "";
    string mainColor = "";
    string csSuggestion = "";
    string mainProposal = "";
    string suggestionText = "";
    string bifall = "bifall", avslag = "avslag", instam = " instämma i intentionerna";
    switch (Model.SuggestedVote)
    {
        case "BIFALL":
            csSuggestion += bifall;
            csColor = "text-success";
            break;
        case "AVSLAG":
            csSuggestion += avslag;
            csColor = "text-danger";
            break;
        case "INSTAM":
            csSuggestion += instam;
            break;
    }
    if (!string.IsNullOrWhiteSpace(csSuggestion))
    {
        if (csSuggestion == instam)
        {
            suggestionText = "Centerstudenter föreslår att instämma i motionens intentioner";
        }
        suggestionText = "Centerstudenter föreslår " + csSuggestion;
    }

    switch (Model.MainProposal)
    {
        case "BIFALL":
            mainProposal += bifall;
            mainColor = "text-success";
            break;
        case "AVSLAG":
            mainProposal += avslag;
            mainColor = "text-danger";
            break;
        case "INSTAM":
            mainProposal += instam;
            break;
    }
    if (!string.IsNullOrWhiteSpace(csSuggestion))
    {
        csSuggestion = "CS förslag: " + csSuggestion;
    }
    if (!string.IsNullOrWhiteSpace(mainProposal))
    {
        mainProposal = "Huvudförslag: " + mainProposal;
    }
    
    
    string md1 = "", md2 = "";
    if (!User.Identity.IsAuthenticated)
    {
        md1 = "col-md-3";
        md2 = "col-md-9";
    }

    string isProgramAtt = Model.ProgramId.HasValue ? "true" : "false";

    // HTML:
    if (Model.IsPsAtt())
    {
        // PS att.
        <dl class="row" style="margin-bottom: 0;">
            <dt class="col-xs-6 col-sm-4 @md1 col-lg-3 half-form-input lato-bold">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-link inline-btn-link" onclick="editAtt(this, @Model.Id)">
                        <i class="mdi mdi-edit"></i>
                    </button>
                    @Html.AntiForgeryToken()
                    <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                            data-title="Är du säker på att du vill ta bort att-sats @Model.FullNumber()?"
                            data-onclick="deleteAtt($('#generalDeleteModalDeleteButton'), @Model.Id, @isProgramAtt)">
                        <i class="mdi mdi-delete"></i>
                    </button>
                }

                <p class="@csColor" data-toggle="tooltip" data-placement="top" title="@suggestionText"
                   style="display: inline-block; width: 70px;">
                    PS
                </p> <text>Att:</text>
            </dt>
            <dd class="col-xs-6 col-sm-8 @md2 col-lg-9">
                @Model.AttText
                <p class="lato-light text-right" style="margin-bottom: 0;">
                    <text class="@csColor">@csSuggestion</text>
                </p>
                <p class="lato-light text-right">
                    <text class="@mainColor">@mainProposal</text>
                </p>
            </dd>
        </dl>
    }
    else if (!string.IsNullOrWhiteSpace(Model.Author))
    {
        // Tilläggsyrkande.
        <dl class="row" style="margin-bottom: 0;">
            <dt class="col-12 lato-bold">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-link inline-btn-link" onclick="editAtt(this, @Model.Id)">
                        <i class="mdi mdi-edit"></i>
                    </button>
                    @Html.AntiForgeryToken()
                    <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                            data-title="Är du säker på att du vill ta bort att-sats @Model.FullNumber()?"
                            data-onclick="deleteAtt($('#generalDeleteModalDeleteButton'), @Model.Id, @isProgramAtt)">
                        <i class="mdi mdi-delete"></i>
                    </button>
                }

                <p class="@csColor" data-toggle="tooltip" data-placement="top" title="@suggestionText"
                   style="display: inline-block; margin-bottom: 0;">
                    @Model.Author
                </p>
            </dt>
        </dl>
        <dl class="row" style="margin-bottom: 0; margin-top: 0;">
            <dt class="col-2 lato-bold">
                <text>Att:</text>
            </dt>
            <dd class="col-10">
                @Model.AttText
                <p class="lato-light text-right" style="margin-bottom: 0;">
                    <text class="@csColor">@csSuggestion</text>
                </p>
                <p class="lato-light text-right">
                    <text class="@mainColor">@mainProposal</text>
                </p>
            </dd>
        </dl>
    }
    else
    {
        // Att-sats.
        <dl class="row" style="margin-bottom: 0;">
            <dt class="col-xs-6 col-sm-4 @md1 col-lg-3 half-form-input lato-bold">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-link inline-btn-link" onclick="editAtt(this, @Model.Id)">
                        <i class="mdi mdi-edit"></i>
                    </button>
                    @Html.AntiForgeryToken()
                    <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                            data-title="Är du säker på att du vill ta bort att-sats @Model.FullNumber()?"
                            data-onclick="deleteAtt($('#generalDeleteModalDeleteButton'), @Model.Id, @isProgramAtt)">
                        <i class="mdi mdi-delete"></i>
                    </button>
                }

                <p class="@csColor" data-toggle="tooltip" data-placement="top" title="@suggestionText"
                   style="display: inline-block; width: 70px;">
                    @Model.FullNumber()
                </p> <text>Att:</text>
            </dt>
            <dd class="col-xs-6 col-sm-8 @md2 col-lg-9">
                @Model.AttText
                <p class="lato-light text-right" style="margin-bottom: 0;">
                    <text class="@csColor">@csSuggestion</text>
                </p>
                <p class="lato-light text-right">
                    <text class="@mainColor">@mainProposal</text>
                </p>
            </dd>
        </dl>
    }
}


<script type="text/javascript">

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

</script>