@model CsAspnet.Models.dbcontext.Att
@{
    // The color indicates whether PS agrees.
    string csColor = "";
    string csIcon = "";
    string csText = "";
    string mainColor = "";
    string mainIcon = "";
    string mainText = "";
    switch (Model.SuggestedVote)
    {
        case "BIFALL":
            csColor = "text-success";
            csIcon = "done";
            csText = "Centerstudenter föreslår bifall";
            break;
        case "AVSLAG":
            csColor = "text-danger";
            csIcon = "clear";
            csText = "Centerstudenter föreslår avslag";
            break;
        case "INSTAM":
            csIcon = "remove";
            csText = "Centerstudenter föreslår att instämma i motionens intentioner";
            break;
    }

    switch (Model.MainProposal)
    {
        case "BIFALL":
            mainColor = "text-success";
            mainIcon = "done";
            mainText = "Huvudförslaget är bifall";
            break;
        case "AVSLAG":
            mainColor = "text-danger";
            mainIcon = "clear";
            mainText = "Huvudförslaget är avslag";
            break;
        case "INSTAM":
            mainIcon = "remove";
            mainText = "Huvudförslaget är att instämma i motionens intentioner";
            break;
    }
    
    string md1 = "", md2 = "";
    if (!User.Identity.IsAuthenticated)
    {
        md1 = "col-md-3";
        md2 = "col-md-9";
    }

    string isProgramAtt = Model.ProgramId.HasValue ? "true" : "false";

    // HTML:
    if (Model.IsPsAtt())
    {
        // PS att.
        <dl class="row" style="margin-bottom: 0;">
            <dt class="col-xs-6 col-sm-4 @md1 col-lg-3 half-form-input lato-bold">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-link inline-btn-link" onclick="editAtt(this, @Model.Id)">
                        <i class="mdi mdi-edit"></i>
                    </button>
                    @Html.AntiForgeryToken()
                    <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                            data-title="Är du säker på att du vill ta bort att-sats @Model.FullNumber()?"
                            data-onclick="deleteAtt($('#generalDeleteModalDeleteButton'), @Model.Id, @isProgramAtt)">
                        <i class="mdi mdi-delete"></i>
                    </button>
                }

                <p class="@csColor" data-toggle="tooltip" data-placement="top" title="@csText"
                   style="display: inline-block; width: 70px;">
                    PS
                </p> <text>Att:</text>
            </dt>
            <dd class="col-xs-6 col-sm-8 @md2 col-lg-9">
                @Model.AttText
                <p class="lato-light text-left" style="margin-bottom: 0;">
                    @if (csText != "")
                    {
                        <b class="@csColor" data-toggle="tooltip" data-placement="top" title="@csText">
                            CS: <i class="mdi mdi-@csIcon suggestion-icon"></i> &nbsp;
                        </b>
                    }
                    @if (mainText != "")
                    {
                        <b class="@mainColor" data-toggle="tooltip" data-placement="top" title="@mainText">
                            Huvudförslag: <i class="mdi mdi-@mainIcon suggestion-icon"></i>
                        </b>
                    }
                </p>
            </dd>
        </dl>
    }
    else if (!string.IsNullOrWhiteSpace(Model.Author))
    {
        // Tilläggsyrkande.
        <dl class="row" style="margin-bottom: 0;">
            <dt class="col-12 lato-bold">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-link inline-btn-link" onclick="editAtt(this, @Model.Id)">
                        <i class="mdi mdi-edit"></i>
                    </button>
                    @Html.AntiForgeryToken()
                    <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                            data-title="Är du säker på att du vill ta bort att-sats @Model.FullNumber()?"
                            data-onclick="deleteAtt($('#generalDeleteModalDeleteButton'), @Model.Id, @isProgramAtt)">
                        <i class="mdi mdi-delete"></i>
                    </button>
                }

                <p class="@csColor" data-toggle="tooltip" data-placement="top" title="@csText"
                   style="display: inline-block; margin-bottom: 0;">
                    @Model.Author
                </p>
            </dt>
        </dl>
        <dl class="row" style="margin-bottom: 0; margin-top: 0;">
            <dt class="col-2 lato-bold">
                <text>Att:</text>
            </dt>
            <dd class="col-10">
                @Model.AttText
                <p class="lato-light text-left" style="margin-bottom: 0;">
                    @if (csText != "")
                    {
                        <b class="@csColor" data-toggle="tooltip" data-placement="top" title="@csText">
                            CS: <i class="mdi mdi-@csIcon suggestion-icon"></i> &nbsp;
                        </b>
                    }
                    @if (mainText != "")
                    {
                        <b class="@mainColor" data-toggle="tooltip" data-placement="top" title="@mainText">
                            Huvudförslag: <i class="mdi mdi-@mainIcon suggestion-icon"></i>
                        </b>
                    }
                </p>
            </dd>
        </dl>
    }
    else
    {
        // Att-sats.
        <dl class="row" style="margin-bottom: 0;">
            <dt class="col-xs-6 col-sm-4 @md1 col-lg-3 half-form-input lato-bold">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-link inline-btn-link" onclick="editAtt(this, @Model.Id)">
                        <i class="mdi mdi-edit"></i>
                    </button>
                    @Html.AntiForgeryToken()
                    <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                            data-title="Är du säker på att du vill ta bort att-sats @Model.FullNumber()?"
                            data-onclick="deleteAtt($('#generalDeleteModalDeleteButton'), @Model.Id, @isProgramAtt)">
                        <i class="mdi mdi-delete"></i>
                    </button>
                }

                <p class="@csColor" data-toggle="tooltip" data-placement="top" title="@csText"
                   style="display: inline-block; width: 70px;">
                    @Model.FullNumber()
                </p> <text>Att:</text>
            </dt>
            <dd class="col-xs-6 col-sm-8 @md2 col-lg-9">
                @Model.AttText
                <p class="lato-light text-left" style="margin-bottom: 0;">
                    @if (csText != "")
                    {
                        <b class="@csColor" data-toggle="tooltip" data-placement="top" title="@csText">
                            CS: <i class="mdi mdi-@csIcon suggestion-icon"></i> &nbsp;
                        </b>
                    }
                    @if (mainText != "")
                    {
                        <b class="@mainColor" data-toggle="tooltip" data-placement="top" title="@mainText">
                            Huvudförslag: <i class="mdi mdi-@mainIcon suggestion-icon"></i>
                        </b>
                    }
                </p>
            </dd>
        </dl>
    }
}


<script type="text/javascript">

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

</script>