@model CsAspnet.Models.dbcontext.Motion

<h4 class="text-break">
    @* Admin edit button for the motion *@
    @if (User.Identity.IsAuthenticated)
    {
        <button class="btn btn-link inline-btn-link" onclick="editMotion(this, @Model.Id)">
            <i class="mdi mdi-edit"></i>
        </button>
        @Html.AntiForgeryToken()
        <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                data-title="Är du säker på att du vill ta bort motion @Model.FullNumber()?" 
                data-onclick="deleteMotion($('#generalDeleteModalDeleteButton'), @Model.Id)">
            <i class="mdi mdi-delete"></i>
        </button>
    }
    Motion @Model.FullName()
</h4>

@if (!string.IsNullOrWhiteSpace(Model.MotionText))
{
    @foreach (var p in Model.MotionText.Split('\n'))
    {
        <p>@p</p>
    }
}

@if (!string.IsNullOrWhiteSpace(Model.Argument))
{
    <h5>
        Centerstudenters svar:
    </h5>
    @foreach (var p in Model.Argument.Split('\n'))
    {
        <p>@p</p>
    }
}

@foreach (var att in Model.Att.OrderBy(a => a.AttNumber))
{
    <div id="a-@Model.Id-@att.Id">
        @{
            await Html.RenderPartialAsync("_Att", att);
        }
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    await Html.RenderPartialAsync("Admin/Att/_AddAttButton", @Model.Id);
}
