@model CsAspnet.Models.dbcontext.Motion

<h4 class="text-break lato-bold">
    @* Admin edit button for the motion *@
    @if (User.Identity.IsAuthenticated)
    {
        <button class="btn btn-link inline-btn-link" onclick="editMotion(this, @Model.Id)">
            <i class="mdi mdi-edit"></i>
        </button>
        @Html.AntiForgeryToken()
        <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                data-title="Är du säker på att du vill ta bort motion @Model.FullNumber()?" 
                data-onclick="deleteMotion($('#generalDeleteModalDeleteButton'), @Model.Id)">
            <i class="mdi mdi-delete"></i>
        </button>
    }
    Motion @Model.FullName()
</h4>

@if (!string.IsNullOrWhiteSpace(Model.MotionText))
{
    foreach (var p in Model.MotionText.Split('\n'))
    {
        <p>@p</p>
    }
}

@if (!string.IsNullOrWhiteSpace(Model.Argument))
{
    <a class="lato-bold header-collapse-link btn btn-link" data-toggle="collapse" data-target="#cs-reasoning-@Model.Id" 
        onclick="toggleCollapseLink(this, 'Centerstudenters resonemang:', 'cs-reasoning-@Model.Id');">
        <i class="mdi mdi-keyboard-arrow-right"></i>&nbsp;Visa Centerstudenters resonemang:
    </a>
    <div class="collapse" id="cs-reasoning-@Model.Id">
        <div class="card bg-light-green">
            <div class="compact-card-body">
                @foreach (var p in Model.Argument.Split('\n'))
                {
                    <p class="card-text">@p</p>
                }
            </div>
        </div>
    </div>
}

@{
    var atts = Model.Att
        .Where(a => string.IsNullOrWhiteSpace(a.Author))
        .OrderBy(a => a.AttNumber)
        .ToList();
    
    if (atts.Any())
    {
        <br/>
        foreach (var att in atts)
        {
            <div id="a-@Model.Id-@att.Id">
                @{
                    await Html.RenderPartialAsync("_Att", att);
                }
            </div>
        }
    }

    var newAtts = Model.Att
        .Where(a => !string.IsNullOrWhiteSpace(a.Author))
        .ToList();

    if (newAtts.Any())
    {
        <br/>
        foreach (var att in newAtts)
        {
            <div id="a-@Model.Id-@att.Id">
                @{
                    await Html.RenderPartialAsync("_Att", att);
                }
            </div>
        }
    }
}

@if (User.Identity.IsAuthenticated)
{
    await Html.RenderPartialAsync("Admin/Att/_AddAttButton", Model.Id);
}
