@model CsAspnet.Models.dbcontext.Motion

<h4 class="text-break lato-bold">
    @* Admin edit button for the motion *@
    @if (User.Identity.IsAuthenticated)
    {
        <button class="btn btn-link inline-btn-link" onclick="editMotion(this, @Model.Id)">
            <i class="mdi mdi-edit"></i>
        </button>
        @Html.AntiForgeryToken()
        <button class="btn btn-link inline-btn-link" data-toggle="modal" data-target="#generalDeleteModal"
                data-title="Är du säker på att du vill ta bort motion @Model.FullNumber()?" 
                data-onclick="deleteMotion($('#generalDeleteModalDeleteButton'), @Model.Id)">
            <i class="mdi mdi-delete"></i>
        </button>
    }
    Motion @Model.FullName()
</h4>

@if (!string.IsNullOrWhiteSpace(Model.MotionText))
{
    @foreach (var p in Model.MotionText.Split('\n'))
    {
        <p>@p</p>
    }
}

@if (!string.IsNullOrWhiteSpace(Model.Argument))
{
    <h5 class="lato-bold header-collapse-link" data-toggle="collapse" data-target="#cs-reasoning-@Model.Id" 
        onclick="toggleCollapseLink(this, 'Centerstudenters resonemang:', 'cs-reasoning-@Model.Id');">
        <i class="mdi mdi-keyboard-arrow-right"></i>&nbsp;Visa Centerstudenters resonemang:
    </h5>
    <div class="collapse" id="cs-reasoning-@Model.Id">
        <div class="card bg-light-green">
            <div class="compact-card-body">
                @foreach (var p in Model.Argument.Split('\n'))
                {
                    <p class="card-text">@p</p>
                }
            </div>
        </div>
    </div>
}

@if (Model.Att.Any())
{
    <br/>
    foreach (var att in Model.Att.OrderBy(a => a.AttNumber))
    {
        <div id="a-@Model.Id-@att.Id">
            @{
                await Html.RenderPartialAsync("_Att", att);
            }
        </div>
    }
}


@if (User.Identity.IsAuthenticated)
{
    await Html.RenderPartialAsync("Admin/Att/_AddAttButton", @Model.Id);
}
