@model CsAspnet.Models.dbcontext.Att

<div class="row">
    @{
        int attType;
        if (Model.IsPsAtt())
        {
            attType = 2;
        }
        else if (!string.IsNullOrWhiteSpace(Model.Author))
        {
            attType = 1;
        }
        else
        {
            attType = 0;
        }
                 
        string col;
        if (attType == 2)
        {
            col = "12";

            // Hidden inputs for the ajax post.
            <input id="editAttNumber" value="-1" hidden/>
            <input id="additionalAttAuthor" value="" hidden/>
        }
        else if (attType == 1)
        {
            // Tilläggsyrkande.
            col = "8";
            <div class="form-group half-form-input col-4">
                <input class="form-control" type="text" placeholder="Avsändare" id="editAdditionalAttAuthor"
                       value="@Model.Author"/>
            </div>
            
            // Hidden input for the ajax post.
            <input id="editAttNumber" value="0" hidden/>
        }
        else
        {
            // Att-sats.
            col = "10";
            <div class="form-group half-form-input col-2">
                <input class="form-control" type="number" value="@Model.AttNumber" placeholder="Nummer" id="editAttNumber"/>
            </div>

            // Hidden input for the ajax post.
            <input id="additionalAttAuthor" value="" hidden/>
        }
    }
    
    <div class="form-group col-@col">
        <textarea class="form-control" onkeyup="autoResize(this)" placeholder="Att-sats" id="editAttText">@Model.AttText</textarea>
    </div>
    <div class="form-group col-6" id="half-form">
        <select class="form-control" type="text" value="" id="editVoteSuggestion">
            <option value="">Centerstudenters förslag:</option>
            <option value="BIFALL">Bifall</option>
            <option value="AVSLAG">Avslag</option>
            <option value="INSTAM">Instäm i intentioner</option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <select class="form-control" type="text" value="" id="editAttMainProposal">
            <option value="">Huvudförslag:</option>
            <option value="BIFALL">Bifall</option>
            <option value="AVSLAG">Avslag</option>
            <option value="INSTAM">Instäm i intentioner</option>
        </select>
    </div>

    <div class="col-12">
        <div class="btn-toolbar pull-right">
            @if (attType == 2)
            {
                <button class="btn btn-secondary" style="margin-right: 0.5em;" onclick="loadMotions();">
                    Avbryt
                </button>
            }
            else if (Model.ProgramId.HasValue)
            {
                <button class="btn btn-secondary" style="margin-right: 0.5em;" onclick="loadProgram();">
                    Avbryt
                </button>
            }
            else
            {
                <button class="btn btn-secondary" style="margin-right: 0.5em;" onclick="loadMotion(this, @Model.Motion.Id);">
                    Avbryt
                </button>
            }
            @Html.AntiForgeryToken()
            <button class="btn btn-success" onclick="saveAtt(this, @Model.Id)">
                Spara
            </button>
        </div>
    </div>
</div>
<br/>


<script type="text/javascript">

    function saveAtt(button, attId) {
        
        // Spin the button immediately.
        var oldButtonHtml = $(button).html();
        $(button).html(buttonSpinner + oldButtonHtml);
        
        var isProgramAtt = false;
        @if (Model.ProgramId.HasValue)
        {
            @:isProgramAtt = true;
        }
        
        // Save the motion.
        $.ajax({
            traditional: true,
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: "/Admin/?handler=SaveAtt",
            data: JSON.stringify({
                "AttId": attId,
                "MotionId": 0,
                "Number": $("#editAttNumber").val(),
                "Text": $("#editAttText").val(),
                "VoteSuggestion": $("#editVoteSuggestion option:selected").val(),
                "MainProposal": $("#editAttMainProposal option:selected").val(),
                "AdditionalAttAuthor": $("#editAdditionalAttAuthor").val(),
                "IsProgramAtt": isProgramAtt
            }),
            contentType: 'application/json; charset=utf-8"',
            success: function(result) {
                if (result.result) {
                    editing = false;
                    @if (attType == 2)
                    {
                        @:loadMotions();
                    }
                    else if (Model.ProgramId.HasValue)
                    {
                        @:loadProgram();
                    }
                    else
                    {
                        @:loadMotion(null, @Model.Motion.Id);
                    }
                } else {
                    alert(result.message);
                    $(button).html(oldButtonHtml);
                }
            }, error: function() {
                alert("Okänt fel, prova att ladda om sidan");
                $(button).html(oldButtonHtml);
            }
        });
    }
    
    $(document).ready(function() {
        // Select the correct suggested vote.
        var suggestion = "@Model.SuggestedVote";
        $("#editVoteSuggestion select").val(suggestion);
        $("#editVoteSuggestion").val(suggestion).change();
        
        // Select the correct main proposal.
        var mainProposal = "@Model.MainProposal";
        $("#editAttMainProposal select").val(mainProposal);
        $("#editAttMainProposal").val(mainProposal).change();
        
        autoResize(document.getElementById("editAttText"));
    });

</script>
